<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="WFP.design.Activator"
               id="WFP.design"
	       name="WFP">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="WFP.design.myAction"
           id="WFP.design.myAction">
     </javaActions>
     <javaActions
           actionClass="WFP.design.CallForwardImpactAnalysis"
           id="WFP.design.CallForwardImpactAnalysis">
     </javaActions>
     <javaActions
           actionClass="WFP.design.CallBackwardImpactAnalysis"
           id="WFP.design.CallBackwardImpactAnalysis">
     </javaActions>
     <javaActions
           actionClass="WFP.design.ClearImpact"
           id="WFP.design.ClearImpact">
     </javaActions>
  </extension>
</plugin>
