<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated wFP_V2 -->
      <package
            uri="http://www.example.org/wFP_V2"
            class="wFP_V2.WFP_V2Package"
            genModel="model/wFP_V2.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.epsilon.evl.emf.validation">
      <constraintsBinding
            compose="true"
            constraints="model/constraints.evl"
            namespaceURI="http://www.example.org/wFP_V2">
      </constraintsBinding>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.epsilon.evl.emf.validation.EvlMarkerResolutionGenerator"
            markerType="org.eclipse.sirius.diagram.ui.diagnostic">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.eclipse.epsilon.evl.emf.validation.EvlMarkerResolutionGenerator"
            markerType="org.eclipse.emf.ecore.diagnostic">
      </markerResolutionGenerator>
   </extension>

</plugin>
